@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.Name{
    position: absolute; 
    bottom: 350px;
    top: 100px;
    left: 60px;
    color:black;
    font-family: serif;
    font-size: 36pt;  
    text-shadow: 2px 2px 2px gray;
}

